/* :root - Pseudo-class util para declarar variáveis globais */
:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

/* CSS * Selector - Seleciona todos os elementos da página
                  - Também pode ser utilizado para selecionar todos os elemntos dentro de outro elemento:
                    div *{
                        background-color: yellow;
                    }
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* border-box a borda se ajusta ao tamanho da caixa sem aumenta-la */
}

html{
    font-family: 'Roboto', sans-serif;/* Especifica a fonte para html */
}

body{
    background: #c3ecd1; /* Cor de fundo do body(corpo da página) */
    -webkit-font-smoothing: antialiased; /* -webkit - Motor de renderização com funções específicas para cada navegador */
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color)
}
